.bg-mynav {
    background-color: #2c3e50;
  }
  
  body {
    font-size: 1.25rem;
    background-color: #f6f8fa;
    height:1250px;
  }
  
  td {
      line-height: 3rem;
  }

  .header{
    margin-top: 50px;
  }
 

  table {
    width: 2000px;
    text-align: center;
    margin: 0 auto; /* Add this line to center the table horizontally */
  }

  thead {
    text-align: center; /* Center the table headers */
  }

  .container {
    
    width: -webkit-fill-available;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
  }

  .container * {
    box-sizing: border-box;
  }

  .container h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .container input {
    margin-bottom: 15px;
  }



  .container label {
    color: #777;
    font-size: 0.8em;
  }

  .container input[type=checkbox] {
    float: left;
  }

  .container input:not(:checked) + #feedback-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container #feedback-phone {
    transition: .3s;
  }

  .container button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #207cca;
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    background: linear-gradient(to right, #207cca 0%, #9f58a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 );
  }

  form {
   
    padding:30px;
    width: auto;
    height:auto;
    overflow:hidden;
    border-radius:10px;
  }
  
  form label {
    font: size 25px;
    color:darkgray;
    cursor:pointer;
  }
  #delete-button{
    height: 57px;
    width: 70px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  form label,
  form input {
    float:left;
    clear:both;
  }
  
  form input {
    margin:15px 0;
    padding:15px 10px;
    width:100%;
    outline:none;
    border:1px solid #bbb;
    border-radius:20px;
    display:inline-block;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
      -webkit-transition:0.2s ease all;
       -moz-transition:0.2s ease all;
        -ms-transition:0.2s ease all;
         -o-transition:0.2s ease all;
            transition:0.2s ease all;
  }
  
 .delete-td{
  width: 10px;
 }

 #button2{
  margin-top: 10px;
  color: #eee;
 }

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}


/* Common style for Edit and Delete buttons */
.edit-delete-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #207cca;
  color: #eee;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none; /* Remove underlines for anchor tags */
}

.edit-delete-button:hover {
  background-color: #9f58a3;
}

.add-search{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}

.button1{
  display: inline-block;
  padding: 5px 10px;
  background-color: #207cca;
  color: #eee;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  height: 57px;
  width: 170px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 10px;
}

.button1:hover {
  background-color: #9f58a3;
}

.title{
  font-size: xx-large;
    color: black;
    margin-bottom: 40px;
    text-align-last: center;
}


.search{
  display: inline-block;
  padding: 5px 10px;
  background-color: #207cca;
  color: #eee;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  height: 57px;
  width: 170px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 10px;
}

.search:hover{
  background-color: #9f58a3;
}

.button-add{
  align-self: center;
}

#delete-button:hover{
  background-color: #9f58a3;
}

th{
  font-size: x-large;
  height: 100px;
}

table, td, th {
  border: 1px solid;
  border-color: #bbb;
  border-radius: 10px;
}